In [1]:
import pandas as pd
df = pd.read_csv('C:\WORKSPACE\projects\서울시 대중교통 이용패턴 정보.csv', encoding='cp949')

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\human\AppData\Local\Temp\ipykernel_9600\3983256537.py:2: SyntaxWarning: invalid escape sequence '\W'
  df = pd.read_csv('C:\WORKSPACE\projects\서울시 대중교통 이용패턴 정보.csv', encoding='cp949')

In [2]:
print(df)

           기준_날짜                                     목적통행_패턴  총_승객수  총_승객수_일반  \
0       20241023  ①[지하철] → ②[지하철] → ③[지하철] → ④[지하철] → ⑤[지하철]      1       1.0
1       20241023           ①[지하철] → ②[지하철] → ③[지하철] → ④[지하철]     18      17.0
2       20241023   ①[지하철] → ②[지하철] → ③[지하철] → ④[버스] → ⑤[지하철]      1       1.0
3       20241023    ①[지하철] → ②[지하철] → ③[지하철] → ④[버스] → ⑤[버스]      2       2.0
4       20241023            ①[지하철] → ②[지하철] → ③[지하철] → ④[버스]     27      27.0
...          ...                                         ...    ...       ...
213369  20211130  ①[지하철] → ②[버스] → ③[지하철] → ④[경기버스] → ⑤[지하철]     16      15.0
213370  20211130   ①[버스] → ②[지하철] → ③[경기버스] → ④[지하철] → ⑤[버스]     32      31.0
213371  20211130      ①[버스] → ②[버스] → ③[버스] → ④[버스] → ⑤[지하철]    230     220.0
213372  20211130   ①[버스] → ②[경기버스] → ③[지하철] → ④[버스] → ⑤[지하철]      4       4.0
213373  20211130    ①[지하철] → ②[버스] → ③[지하철] → ④[버스] → ⑤[지하철]    146     145.0

        총_승객수_어린이  총_승객수_청소년  총_승객수_경로  총_승객수_장애인
0             NaN        NaN       NaN        NaN
1             NaN        1.0       NaN        NaN
2             NaN        NaN       NaN        NaN
3             NaN        NaN       NaN        NaN
4             NaN        NaN       NaN        NaN
...           ...        ...       ...        ...
213369        NaN        1.0       NaN        NaN
213370        NaN        1.0       NaN        NaN
213371        1.0        9.0       NaN        NaN
213372        NaN        NaN       NaN        NaN
213373        NaN        1.0       NaN        NaN

[213374 rows x 8 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213374 entries, 0 to 213373
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   기준_날짜      213374 non-null  int64
 1   목적통행_패턴    213322 non-null  object
 2   총_승객수      213374 non-null  int64
 3   총_승객수_일반   211861 non-null  float64
 4   총_승객수_어린이  94532 non-null   float64
 5   총_승객수_청소년  126949 non-null  float64
 6   총_승객수_경로   32972 non-null   float64
 7   총_승객수_장애인  28933 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 13.0+ MB

In [4]:
df['목적통행_패턴'] = df['목적통행_패턴'].str.replace(r'[^가-힣]', '', regex=True).str.replace(' ', '')
df['기준_날짜'] = pd.to_datetime(df['기준_날짜'], format='%Y%m%d')

In [5]:
df_1 = df[['기준_날짜', '목적통행_패턴', '총_승객수']]


bus_only_df = df_1[df_1['목적통행_패턴'] == "버스"]
train_only_df = df_1[df_1['목적통행_패턴'] == "지하철"]

In [6]:
bus_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 143 to 213216
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기준_날짜    1023 non-null   datetime64[ns]
 1   목적통행_패턴  1023 non-null   object
 2   총_승객수    1023 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 32.0+ KB

In [7]:
train_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 69 to 213215
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기준_날짜    1023 non-null   datetime64[ns]
 1   목적통행_패턴  1023 non-null   object
 2   총_승객수    1023 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 32.0+ KB

In [8]:
print(bus_only_df)

            기준_날짜 목적통행_패턴    총_승객수
143    2024-10-23      버스  2419117
362    2024-10-22      버스  2336455
589    2024-10-21      버스  2362593
803    2024-10-20      버스  1689445
1027   2024-10-19      버스  2081764
...           ...     ...      ...
212594 2022-01-02      버스  1097581
212616 2022-01-01      버스   988930
212975 2021-12-31      버스  1914226
213174 2021-12-30      버스  1971191
213216 2021-11-30      버스  1986177

[1023 rows x 3 columns]

In [9]:
print(train_only_df)

            기준_날짜 목적통행_패턴    총_승객수
69     2024-10-23     지하철  5033011
287    2024-10-22     지하철  4788389
513    2024-10-21     지하철  4865770
729    2024-10-20     지하철  2996679
951    2024-10-19     지하철  3914226
...           ...     ...      ...
212595 2022-01-02     지하철  1812506
212615 2022-01-01     지하철  1569829
212974 2021-12-31     지하철  3713836
213173 2021-12-30     지하철  4005389
213215 2021-11-30     지하철  3968905

[1023 rows x 3 columns]