In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

In [4]:
df_web = pd.read_csv('data-files/web_page_data.csv')
df_web

      Page  Time
0   Page A  0.21
1   Page B  2.53
2   Page A  0.35
3   Page B  0.71
4   Page A  0.67
5   Page B  0.85
6   Page A  2.11
7   Page B  2.46
8   Page A  1.32
9   Page B  1.49
10  Page A  0.68
11  Page B  0.75
12  Page A  3.21
13  Page B  3.33
14  Page A  1.47
15  Page B  1.87
16  Page A  0.95
17  Page B  1.26
18  Page A  0.45
19  Page B  0.48
20  Page A  1.18
21  Page B  1.47
22  Page A  3.42
23  Page B  3.57
24  Page A  1.97
25  Page B  2.23
26  Page A  0.39
27  Page B  0.43
28  Page A  0.65
29  Page B  0.87
30  Page A  1.73
31  Page A  0.74
32  Page A  0.86
33  Page A  1.18
34  Page A  2.06
35  Page A  0.93

In [6]:
df_web.groupby('Page')['Time'].mean()

Page
Page A    1.263333
Page B    1.620000
Name: Time, dtype: float64

In [11]:
df_web_A = df_web[df_web['Page'] == 'Page A']['Time']
df_web_B = df_web[df_web['Page'] == 'Page B']['Time']

In [12]:
stats.ttest_ind(df_web_A, df_web_B)

TtestResult(statistic=np.float64(-1.1237042154424823), pvalue=np.float64(0.26901024363926024), df=np.float64(34.0))

In [14]:
tips_df = sns.load_dataset('tips')
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
tips_df.groupby('sex')['tip'].mean()

C:\Users\human\AppData\Local\Temp\ipykernel_8492\781558005.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips_df.groupby('sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [18]:
stats.ttest_ind(tips_df[tips_df['sex'] == 'Male']['tip'],
                tips_df[tips_df['sex'] == 'Female']['tip'])

TtestResult(statistic=np.float64(1.387859705421269), pvalue=np.float64(0.16645623503456755), df=np.float64(242.0))

In [20]:
tips_df.groupby('smoker')['tip'].mean()

C:\Users\human\AppData\Local\Temp\ipykernel_8492\3502051815.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips_df.groupby('smoker')['tip'].mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

In [21]:
stats.ttest_ind(tips_df[tips_df['smoker'] == 'Yes']['tip'],
                tips_df[tips_df['smoker'] == 'No']['tip'])

TtestResult(statistic=np.float64(0.09222805186888201), pvalue=np.float64(0.9265931522244976), df=np.float64(242.0))

In [24]:
tips_df.groupby('time')['tip'].mean()

C:\Users\human\AppData\Local\Temp\ipykernel_8492\3964885083.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips_df.groupby('time')['tip'].mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

In [25]:
stats.ttest_ind(tips_df[tips_df['time'] == 'Lunch']['tip'],
                tips_df[tips_df['time'] == 'Dinner']['tip'])

TtestResult(statistic=np.float64(-1.9062569301202392), pvalue=np.float64(0.05780153475171558), df=np.float64(242.0))

In [26]:
tips_df.groupby('day')['tip'].mean()

C:\Users\human\AppData\Local\Temp\ipykernel_8492\1744487685.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips_df.groupby('day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [32]:
! pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.4-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (2.1.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (1.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (2.2.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: six in c:\users\human\appdata\local\programs\python\python312\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Downloading statsmodels-0.14.4-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   --------- ------------------------------ 2.4/9.8 MB 11.2 MB/s eta 0:00:01
   ------------------- -------------------- 4.7/9.8 MB 11.4 MB/s eta 0:00:01
   ---------------------------- ----------- 7.1/9.8 MB 11.2 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.8 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 10.9 MB/s eta 0:00:00
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.4

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
from scipy.stats import f_oneway

tips_thur = tips_df[tips_df["day"] == "Thur"]["tip"]
tips_fri = tips_df[tips_df["day"] == "Fri"]["tip"]
tips_sat = tips_df[tips_df["day"] == "Sat"]["tip"]
tips_sun = tips_df[tips_df["day"] == "Sun"]["tip"]

# ANOVA 검정 수행
f_stat, p_value = f_oneway(tips_thur, tips_fri, tips_sat, tips_sun)

print("F-statistic:", f_stat)
print("p-value:", p_value)

F-statistic: 1.6723551980998699
p-value: 0.17358855530405373

In [30]:
week_end_mask = (tips_df['day'] == 'Sat') | (tips_df['day'] == 'Sun')

In [31]:
stats.ttest_ind(tips_df[week_end_mask]['tip'],
                tips_df[~week_end_mask]['tip'])

TtestResult(statistic=np.float64(1.8834950801996837), pvalue=np.float64(0.06083244523772748), df=np.float64(242.0))

In [34]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [37]:
model = smf.ols("tip ~ day", data=tips_df).fit()
sm.stats.anova_lm(model)

             df      sum_sq   mean_sq         F    PR(>F)
day         3.0    9.525873  3.175291  1.672355  0.173589
Residual  240.0  455.686604  1.898694       NaN       NaN